{% extends "topfestivals/base.html" %}
{% load l10n %}

{% block content %}

<div class="row">
  <h4 class="col"><a href="{% url 'topfestivals:festival_detail' artist.festival.id %}">{{ artist.festival.name }}</a> > {{ artist.name }}</h4>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ artist.image.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
        <p class="card-text">{{ artist.description }}</p>
        <p class="card-text">Time playing:{{ artist.time }}</p>
      {% if user == festival.user or user.is_superuser %}
         <a class="btn btn-primary" href="{% url 'topfestivals:artist_edit' artist.festival.id artist.id %}">Edit</a>
      {% endif %}
      <div class="text-muted text-center">
    Created by {{ artist.user }} on {{ artist.date }}
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}